eAdapterClient/Service References/NativeDataServiceTest/EnterpriseNativeDataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.cargowise.com/NativeDataService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cargowise.com/NativeDataService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_EnterpriseNativeDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cargowise.com/NativeDataService/Imports">
      <xsd:import schemaLocation="http://www01-ote.ote.local/Train/NativeDataTransfer/EnterpriseNativeDataService.svc?xsd=xsd0" namespace="http://www.cargowise.com/NativeDataService" />
      <xsd:import schemaLocation="http://www01-ote.ote.local/Train/NativeDataTransfer/EnterpriseNativeDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www01-ote.ote.local/Train/NativeDataTransfer/EnterpriseNativeDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Enterprise.DataTransfer.Native.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnterpriseNativeDataService_RetrieveData_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveData" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_RetrieveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_Retrieve_InputMessage">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_Retrieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_UpdateData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_UpdateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_Service_InputMessage">
    <wsdl:part name="parameters" element="tns:Service" />
  </wsdl:message>
  <wsdl:message name="EnterpriseNativeDataService_Service_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="EnterpriseNativeDataService">
    <wsdl:operation name="RetrieveData">
      <wsdl:input wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/RetrieveData" message="tns:EnterpriseNativeDataService_RetrieveData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/RetrieveDataResponse" message="tns:EnterpriseNativeDataService_RetrieveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/Retrieve" message="tns:EnterpriseNativeDataService_Retrieve_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/RetrieveResponse" message="tns:EnterpriseNativeDataService_Retrieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:input wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/UpdateData" message="tns:EnterpriseNativeDataService_UpdateData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/UpdateDataResponse" message="tns:EnterpriseNativeDataService_UpdateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/Update" message="tns:EnterpriseNativeDataService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/UpdateResponse" message="tns:EnterpriseNativeDataService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Service">
      <wsdl:input wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/Service" message="tns:EnterpriseNativeDataService_Service_InputMessage" />
      <wsdl:output wsaw:Action="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/ServiceResponse" message="tns:EnterpriseNativeDataService_Service_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_EnterpriseNativeDataService" type="tns:EnterpriseNativeDataService">
    <wsp:PolicyReference URI="#WSHttpBinding_EnterpriseNativeDataService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveData">
      <soap12:operation soapAction="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/RetrieveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap12:operation soapAction="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Service">
      <soap12:operation soapAction="http://www.cargowise.com/NativeDataService/EnterpriseNativeDataService/Service" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>