eAdapterDataTypes/ediEnterprise XSD's/Invoice.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Svitlana Vyshnevetskaya (CargoWise Edi) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Richard White (Eagle Datamation International) -->
<!-- edited by Alex K to ensure that xsd is being auto-published to http://www.cargowise.com/Documents/interfaces/xsd/ as it was failed for some reason to do so for changeset 47663 on 25/08/2010 11:23:30 AM -->
<xs:schema targetNamespace="http://www.edi.com.au/EnterpriseService/" xmlns="http://www.edi.com.au/EnterpriseService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Elements.xsd"/>
	<xs:element name="Invoices">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceHeader" type="InvoiceHeader" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Version" type="Version" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="USInvoice">
		<xs:annotation>
			<xs:documentation>US Specific Invoice Level Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DateOfExport" type="xs:date" minOccurs="0"/>
				<xs:element name="DateOfExportFromCO" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Date of Export from Country of Origin'</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DestinationState" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Organisations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Buyer" type="Organisation" minOccurs="0"/>
							<xs:element name="BuyingAgent" type="Organisation" minOccurs="0"/>
							<xs:element name="Exporter" type="Organisation" minOccurs="0"/>
							<xs:element name="Seller" type="Organisation" minOccurs="0"/>
							<xs:element name="SellingAgent" type="Organisation" minOccurs="0"/>
							<xs:element name="Invoicer" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Invoicer" type="Organisation" minOccurs="0"/>
										<xs:element name="MID" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Manufacturer ID. This will not be imported if no organisation exists with this MID in Enterprise.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Manufacturer" type="ManufacturerType" minOccurs="0"/>
							<xs:element name="SupplierContactDetails" type="USOrgContactDetails" minOccurs="0"/>
							<xs:element name="UltimateConsignee" type="USOrganisationWithContactDetails" minOccurs="0"/>
							<xs:element name="IntermediateConsignee" type="USOrganisationWithContactDetails" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CountryOfOrigin" type="CountryCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Two-letter code identifying a country in USCCountry table in US Reference Files. It can be different to ISO country code.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CountryOfExport" type="CountryCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Two-letter code identifying a country in USCCountry table in US Reference Files. It can be different to ISO country code.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PaymentTerms" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string" minOccurs="0"/>
							<xs:element name="Desc" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TermsOfDelivery" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Location" type="xs:string" minOccurs="0"/>
							<xs:element name="Indicator" type="xs:string" minOccurs="0"/>
							<xs:element name="Qualifier" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransactionRelated" type="xs:boolean" minOccurs="0"/>
				<xs:element name="ValueForDiscount" type="xs:decimal" minOccurs="0"/>
				<xs:element name="ValueForForeignTax" type="xs:decimal" minOccurs="0"/>
				<xs:element name="FirstSaleIndicator" type="xs:boolean" minOccurs="0"/>
				<xs:element name="InvoiceType" type="xs:string" minOccurs="0"/>
				<xs:element name="RelatedDocuments" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RelatedDocument" type="TypeNumber" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ContactName" type="xs:string" minOccurs="0"/>
				<xs:element name="ContactPhoneNo" type="xs:string" minOccurs="0"/>
				<xs:element name="FTZ" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>US Exports</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InBondType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>US Exports</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="36"/>
							<xs:enumeration value="37"/>
							<xs:enumeration value="67"/>
							<xs:enumeration value="68"/>
							<xs:enumeration value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StateOfOrigin" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>US Exports</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ImpEntryNo" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>US Exports</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Hazardous" type="TrueFalse" minOccurs="0">
					<xs:annotation>
						<xs:documentation>US Exports</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RoutedTran" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>US Exports</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="USInvoiceLine">
		<xs:annotation>
			<xs:documentation>US Specific Invoice Line Level Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ArticleNo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID1" type="xs:string" minOccurs="0"/>
							<xs:element name="ID2" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AntiDumping" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="AntiDumping">
								<xs:sequence>
									<xs:element name="DepositRateIndicator" type="xs:string" minOccurs="0"/>
									<xs:element name="DepositValue" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Bonded" type="xs:boolean" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Countervailing" minOccurs="0">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="Countervailing">
								<xs:sequence>
									<xs:element name="DepositRateIndicator" type="xs:string" minOccurs="0"/>
									<xs:element name="DepositValue" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Bonded" type="xs:boolean" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="PermitAndLicence" type="PermitAndLicenceType" minOccurs="0"/>
				<xs:element name="PIRPRuling" type="PIRPRulingType" minOccurs="0"/>
				<xs:element name="Textile" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CategoryNo" type="xs:string" minOccurs="0"/>
							<xs:element name="VisaNo" type="xs:string" minOccurs="0"/>
							<xs:element name="VisaQty" type="xs:decimal" minOccurs="0"/>
							<xs:element name="VisaUQ" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CountryOfExport" type="CountryCode" minOccurs="0"/>
				<xs:element name="CountryOfOrigin" type="CountryCode" minOccurs="0"/>
				<xs:element name="DateOfExportFromCO" type="xs:date" minOccurs="0"/>
				<xs:element name="DestinationState" type="xs:string" minOccurs="0"/>
				<xs:element name="TransactionRelated" type="xs:boolean" minOccurs="0"/>
				<xs:element name="HazardousMaterial" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClassificationDesc" type="xs:string" minOccurs="0"/>
							<xs:element name="Desc" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DispatchedInvoiceQty" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Quantity" type="DimensionValue" minOccurs="0"/>
							<xs:element name="QtyDiffReasonCode" type="xs:string" minOccurs="0"/>
							<xs:element name="QtyDiffReasonDesc" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ManifestQty" type="xs:decimal" minOccurs="0"/>
				<xs:element name="USOrOriginalGoodsValue" type="xs:decimal" minOccurs="0"/>
                <xs:element name="USOrOriginalValueInInvCurr" type="xs:decimal" minOccurs="0"/>
				<xs:element name="BasisUnit" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BasisUnit" type="xs:decimal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If it is priced like 100 dollars per dozen, then BasisUnit is 12.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Price" type="xs:decimal" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If it is priced like 100 dollars per dozen, then price is 100 dollars</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SoftwoodLumber" type="SoftwoodLumberType" minOccurs="0"/>
				<xs:element name="NAFTANet" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Manufacturer" type="ManufacturerType" minOccurs="0"/>
				<xs:element name="UltimateConsignee" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="UltimateConsignee" type="Organisation" minOccurs="0"/>
							<xs:element name="PartyIDNumber" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>One of EIN or CBP Assigned Number or Social Security number. Format is known and should be adhered to</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="PercentageOfActiveIngredient" type="xs:decimal" minOccurs="0"/>
				<xs:element name="FTZ" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ZoneStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="PrivilegedStatusDate" type="xs:date" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SecondQty" type="DimensionValue" minOccurs="0"/>
				<xs:element name="ThirdQty" type="DimensionValue" minOccurs="0"/>
				<xs:element name="SPI" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>SPI Program or Primary SPI </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SecondarySPI" type="xs:string" minOccurs="0"/>
				<xs:element name="SelectedRateType" type="xs:string" minOccurs="0"/>
				<xs:element name="Fees" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Fee" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Code" type="xs:string" minOccurs="0"/>
										<xs:element name="FeeAmount" type="xs:decimal" minOccurs="0"/>
										<xs:element name="RateType" type="xs:string" minOccurs="0"/>
										<xs:element name="Overidden" type="TrueFalse" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TSCA" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Indicator" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RegistrationNumbers" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RegistrationNumber" type="TypeNumber" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PackagingUnits" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PackagingUnit" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Type" type="xs:string" minOccurs="0"/>
										<xs:element name="UnitID" type="xs:string" minOccurs="0"/>
										<xs:element name="PartiallyPacked" type="TrueFalse" minOccurs="0"/>
										<xs:element name="Details" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Detail" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FirstSubLevelID" type="xs:string" minOccurs="0"/>
																<xs:element name="LastSubLevelID" type="xs:string" minOccurs="0"/>
																<xs:element name="ShippingSymbol" type="xs:string" minOccurs="0"/>
																<xs:element name="MarksAndNumbers" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FirstSaleIndicator" type="xs:boolean" minOccurs="0"/>
				<xs:element name="FDAs" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FDA" type="USFDA" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FCCs" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FCC" type="USFCC" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DOTs" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DOT" type="USDOT" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="OGAIndicators" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FDAIndicator" type="OGAIndicator" minOccurs="0"/>
							<xs:element name="FCCIndicator" type="OGAIndicator" minOccurs="0"/>
							<xs:element name="DOTIndicator" type="OGAIndicator" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LaceyActDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LaceyAct" type="USLaceyAct" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaxCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="016"/>
							<xs:enumeration value="017"/>
							<xs:enumeration value="018"/>
							<xs:enumeration value="022"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TaxRateType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="P"/>
							<xs:enumeration value="S"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OverriddenTaxRate" type="xs:decimal" minOccurs="0"/>
				<xs:element name="ExportLicense" type="USLicenseType" minOccurs="0"/>
				<xs:element name="ExportCode" type="xs:string" minOccurs="0"/>
				<xs:element name="DDTCDetails" type="USDDTCDetailsType" minOccurs="0"/>
				<xs:element name="OriginIndicator" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="D"/>
							<xs:enumeration value="F"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VehicleDetails" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UsedVehicle" type="xs:boolean" minOccurs="0"/>
							<xs:element name="IDType" type="xs:string" minOccurs="0"/>
							<xs:element name="ID" type="xs:string" minOccurs="0"/>
							<xs:element name="TitleNumber" type="xs:string" minOccurs="0"/>
							<xs:element name="TitleState" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Supplementary" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tariff" type="xs:string" minOccurs="0"/>
							<xs:element name="Quantity1" type="DimensionValue" minOccurs="0"/>
							<xs:element name="Quantity2" type="DimensionValue" minOccurs="0"/>
							<xs:element name="Quantity3" type="DimensionValue" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvoiceCharge">
		<xs:sequence>
			<xs:element name="ChargeType" type="xs:NMTOKEN"/>
			<xs:element name="ChargeValue" type="FinancialValue" minOccurs="0"/>
			<xs:element name="GstApplies" type="TrueFalse" minOccurs="0"/>
			<xs:element name="DutyApplies" type="TrueFalse" minOccurs="0"/>
			<xs:element name="IsIncludedInTotal" type="TrueFalse" minOccurs="0"/>
			<xs:element name="IsIncludedInInvoice" type="TrueFalse" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceReference">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceHeader">
		<xs:sequence>
			<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="InvoiceAmount" type="FinancialValue" minOccurs="0"/>
			<xs:element name="ExchangeRate" type="xs:decimal" minOccurs="0"/>
			<xs:element name="InvoiceDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ValuationDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="PackingDetails" type="PackingDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This contains the reference to the packing details. This indicates the Housebill/Master bill that contains this Invoice </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignor" type="Organisation" minOccurs="0"/>
			<xs:element name="Consignee" type="Organisation" minOccurs="0"/>
			<xs:element name="IsGroupInvoice" type="TrueFalse" minOccurs="0"/>
			<xs:element name="RelatedGroupInvoiceNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="Incoterm" type="INCOTERM" minOccurs="0"/>
			<xs:element name="Volume" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Weight" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Packages" type="xs:decimal" minOccurs="0"/>
			<xs:element name="AddCustomsDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddCustomsDetail" type="AdditionalCustomsInformation" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvoiceCharges" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InvoiceCharge" type="InvoiceCharge" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvoiceLines" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InvoiceLine" type="InvoiceLine" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountryPayload" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="USInvoice" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Routings" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Routing" type="PlannedLeg" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandAloneInvoiceDirection" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is to store 'Import' or 'Export' etc for stand-alone invoices</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="References" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Reference" type="InvoiceReference" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLine">
		<xs:sequence>
			<xs:element name="InvoiceQty" type="DimensionValue" minOccurs="0"/>
			<xs:element name="LinePrice" type="FinancialValue"/>
			<xs:element name="ProductNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ProductDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomsInvoiceQty" type="DimensionValue" minOccurs="0"/>
			<xs:element name="OrderNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="LineClassification" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TariffCode" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="TariffCode">
										<xs:attribute name="Description" type="xs:string" use="optional"/>
										<xs:attribute name="Type" type="xs:string" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TariffLookup" type="xs:string" minOccurs="0"/>
						<xs:element name="OriginOfGoods" type="xs:string" minOccurs="0"/>
						<xs:element name="TreatmentCode" type="xs:NMTOKEN" minOccurs="0"/>
						<xs:element name="Preference" type="xs:NMTOKEN" minOccurs="0"/>
						<xs:element name="Concession" type="xs:string" minOccurs="0"/>
						<xs:element name="InstrumentType" type="xs:string" minOccurs="0"/>
						<xs:element name="InstrumentCode" type="xs:string" minOccurs="0"/>
						<xs:element name="AddCustomsDetails" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AddCustomsDetail" type="AdditionalCustomsInformation" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Volume" type="DimensionValue" minOccurs="0"/>
			<xs:element name="Weight" type="DimensionValue" minOccurs="0"/>
			<xs:element name="NetWeight" type="DimensionValue" minOccurs="0"/>
			<xs:element name="ContainerNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContainerNumber" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomText1" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomText2" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomText3" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomText4" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomText5" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomText6" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomTextField1" type="xs:string" minOccurs="0"/>
			<xs:element name="CustomFlag1" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CustomFlag2" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CustomFlag3" type="xs:boolean" minOccurs="0"/>
			<xs:element name="CustomDate1" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CustomDate2" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CustomDate3" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="CustomDecimal1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CustomDecimal2" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CustomDecimal3" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Charges" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Charge" type="InvoiceCharge" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartAttrib1" type="xs:string" minOccurs="0"/>
			<xs:element name="PartAttrib2" type="xs:string" minOccurs="0"/>
			<xs:element name="PartAttrib3" type="xs:string" minOccurs="0"/>
			<xs:element name="Bond" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Summary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is for reference only. Contains the charges summary information for the invoice line</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FOB" type="FinancialValue" minOccurs="0"/>
						<xs:element name="FOBInLocalCurr" type="MonetaryAmount" minOccurs="0"/>
						<xs:element name="Freight" type="FinancialValue" minOccurs="0"/>
						<xs:element name="FreightInLocalCurr" type="MonetaryAmount" minOccurs="0"/>
						<xs:element name="Insurance" type="FinancialValue" minOccurs="0"/>
						<xs:element name="InsuranceInLocalCurr" type="MonetaryAmount" minOccurs="0"/>
						<xs:element name="CIF" type="FinancialValue" minOccurs="0"/>
						<xs:element name="CIFInLocalCurr" type="MonetaryAmount" minOccurs="0"/>
						<xs:element name="Duty" type="FinancialValue" minOccurs="0"/>
						<xs:element name="DutyPercent" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:decimal"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GST" type="FinancialValue" minOccurs="0"/>
						<xs:element name="TransportAndInsurance" type="FinancialValue" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LandedCosting" type="LandedCostingInfo" minOccurs="0"/>
			<xs:element name="InvoiceLineNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ParentInvoiceLineNumber" type="xs:short" minOccurs="0"/>
			<xs:element name="EntryReference" type="xs:string" minOccurs="0"/>
			<xs:element name="EntryLineNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtendedProductDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field is use for US Customs only.
When the product descripiton is longer than 525 characters, the extra description should be enter in this field </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryPayload" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="USInvoiceLine" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandedCostGroupCharge">
		<xs:sequence>
			<xs:element name="Id" type="xs:int"/>
			<xs:element name="ChargesAmount" type="FinancialValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandedCostingInfo">
		<xs:sequence>
			<xs:element name="LineType" type="xs:string"/>
			<xs:element name="UnitPriceInLocalCurrency" type="FinancialValue" minOccurs="0"/>
			<xs:element name="DutiesAndTaxesPerUnit" type="FinancialValue" minOccurs="0"/>
			<xs:element name="LandingCostPerUnit" type="FinancialValue" minOccurs="0"/>
			<xs:element name="TotalCostPerUnit" type="FinancialValue" minOccurs="0"/>
			<xs:element name="SellDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SellDetails" type="LandedCostSellDetails" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LCGroupCharges">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LCGroupCharge" type="LandedCostGroupCharge" maxOccurs="6"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LCMisc" type="FinancialValue" minOccurs="0"/>
			<xs:element name="OtherDuty" type="FinancialValue" minOccurs="0"/>
			<xs:element name="Excise" type="FinancialValue" minOccurs="0"/>
			<xs:element name="EntryFees" type="FinancialValue" minOccurs="0"/>
			<xs:element name="SpecialTax" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpecialTax" type="SpecialTax" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LandedCostSellDetails">
		<xs:sequence>
			<xs:element name="Sequence" type="xs:int"/>
			<xs:element name="MarkUpPercentage" type="xs:decimal" minOccurs="0"/>
			<xs:element name="EffectiveMarkUpPercentage" type="xs:decimal" minOccurs="0"/>
			<xs:element name="SellPriceExGST" type="FinancialValue" minOccurs="0"/>
			<xs:element name="SellPriceIncGST" type="FinancialValue" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackingDetails">
		<xs:sequence>
			<xs:element name="Housebill" type="xs:string" minOccurs="0"/>
			<xs:element name="Masterbill" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialTax">
		<xs:sequence>
			<xs:element name="Sequence" type="xs:int"/>
			<xs:element name="TaxAmount" type="FinancialValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypeNumber">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Number" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="USLicenseType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Number" type="xs:string" minOccurs="0"/>
			<xs:element name="ECCN" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="USDDTCDetailsType">
		<xs:sequence>
			<xs:element name="ITARExemptionNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="MilitaryEquipmentIndicator" type="TrueFalse" minOccurs="0"/>
			<xs:element name="PartyCertificationIndicator" type="TrueFalse" minOccurs="0"/>
			<xs:element name="RegistrationNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="USMLCategoryCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Quantity" type="DimensionValue" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="USOrgContactDetails">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Phone" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="USOrganisationWithContactDetails">
		<xs:sequence>
			<xs:element name="Organisation" type="Organisation" minOccurs="0"/>
			<xs:element name="ContactDetails" type="USOrgContactDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
