eAdapterDataTypes/ediEnterprise XSD's/Order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Richard White (Eagle Datamation International) -->
<xs:schema targetNamespace="http://www.edi.com.au/EnterpriseService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.edi.com.au/EnterpriseService/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Elements.xsd"/>
	<xs:include schemaLocation="Event.xsd"/>
	<xs:element name="Orders" type="Orders"/>
	<xs:complexType name="MilestoneDates">
		<xs:sequence>
			<xs:element name="Estimated" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Actual" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Order">
		<xs:sequence>
			<xs:element name="Events" type="Events" minOccurs="0"/>
			<xs:element name="OrderIdentifier">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrderNumber" type="xs:string"/>
						<xs:element name="OrderNumberSplit" type="xs:unsignedByte" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderDetail">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Buyer" type="Organisation"/>
						<xs:element name="Supplier" type="Organisation" minOccurs="0"/>
						<xs:element name="ConfirmNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="ConfirmDate" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="InvoiceDate" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="OrderStatus" type="xs:string" minOccurs="0"/>
						<xs:element name="ExWorksRequiredBy" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="DeliveryRequiredBy" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="Description" type="xs:string" minOccurs="0"/>
						<xs:element name="OrderDateTime" type="xs:dateTime" minOccurs="0"/>
						<xs:element name="OrderTotal" type="FinancialValue" minOccurs="0"/>
						<xs:element name="ExchangeRate" type="xs:decimal" minOccurs="0"/>
						<xs:element name="ExchRateBasis" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="F"/>
									<xs:enumeration value="L"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Incoterm" type="INCOTERM" minOccurs="0"/>
						<xs:element name="AdditionalTerms" type="xs:string" minOccurs="0"/>
						<xs:element name="TransportMode" type="OrderTransportMode" minOccurs="0"/>
						<xs:element name="ContainerMode" type="OrderContainerMode" minOccurs="0"/>
						<xs:element name="DocAddresses" type="DocAddresses" minOccurs="0"/>
						<xs:element name="Milestones" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExFactory" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="Delivery" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="OriginReceival" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="Departure" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="Arrival" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="CustomsCommenced" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="CustomsFinalised" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="Unpacked" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="CartageAdvised" type="MilestoneDates" minOccurs="0"/>
									<xs:element name="UserDate" type="MilestoneDates" minOccurs="0" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ShipmentPlanning" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SendingAgent" type="Organisation" minOccurs="0"/>
									<xs:element name="ReceivingAgent" type="Organisation" minOccurs="0"/>
									<xs:element name="GoodsOrigin" type="UNLOCO" minOccurs="0"/>
									<xs:element name="GoodsDestination" type="UNLOCO" minOccurs="0"/>
									<xs:element name="LoadPort" type="UNLOCO" minOccurs="0"/>
									<xs:element name="DischargePort" type="UNLOCO" minOccurs="0"/>
									<xs:element name="HouseBill" type="xs:string" minOccurs="0"/>
									<xs:element name="Packs" type="DimensionValue" minOccurs="0"/>
									<xs:element name="Weight" type="DimensionValue" minOccurs="0"/>
									<xs:element name="Volume" type="DimensionValue" minOccurs="0"/>
									<xs:element name="DepartureVessel" type="xs:string" minOccurs="0"/>
									<xs:element name="DepartureVoyageFlight" type="xs:string" minOccurs="0"/>
									<xs:element name="PlannedContainers" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PlannedContainer" type="PlannedContainer" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GoodsAvailAt" type="xs:string" minOccurs="0"/>
									<xs:element name="GoodsDelivTo" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ReferenceNumber" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="Shipment"/>
													<xs:enumeration value="Declaration"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Custom" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Text1" type="xs:string" minOccurs="0"/>
									<xs:element name="Text2" type="xs:string" minOccurs="0"/>
									<xs:element name="Text3" type="xs:string" minOccurs="0"/>
									<xs:element name="Text4" type="xs:string" minOccurs="0"/>
									<xs:element name="Text5" type="xs:string" minOccurs="0"/>
									<xs:element name="Date1" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="Date2" type="xs:dateTime" minOccurs="0"/>
									<xs:element name="Decimal1" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Decimal2" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Decimal3" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Decimal4" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Decimal5" type="xs:decimal" minOccurs="0"/>
									<xs:element name="Flag1" type="xs:boolean" minOccurs="0"/>
									<xs:element name="Flag2" type="xs:boolean" minOccurs="0"/>
									<xs:element name="Flag3" type="xs:boolean" minOccurs="0"/>
									<xs:element name="Flag4" type="xs:boolean" minOccurs="0"/>
									<xs:element name="Flag5" type="xs:boolean" minOccurs="0"/>
									<xs:element name="Contact1" type="xs:string" minOccurs="0"/>
									<xs:element name="Contact2" type="xs:string" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomValues" type="CustomValues" minOccurs="0"/>
						<xs:element name="CountryOfOrigin" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OrderLines" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrderLine" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OrderLineNo" type="xs:int"/>
									<xs:element name="OrderSubLineNo" type="xs:int" minOccurs="0"/>
									<xs:element name="OrderLineSplitNo" type="xs:short" minOccurs="0"/>
									<xs:element name="OrderLineDetail">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Product" minOccurs="0">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="35"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="Description" type="xs:string" minOccurs="0"/>
												<xs:element name="QtyOrdered" type="DimensionValue" minOccurs="0"/>
												<xs:element name="QtyInvoiced" type="DimensionValue" minOccurs="0"/>
												<xs:element name="QtyReceived" type="DimensionValue" minOccurs="0"/>
												<xs:element name="QtyReceivedToDate" type="DimensionValue" minOccurs="0"/>
												<xs:element name="InnerPacks" type="DimensionValue" minOccurs="0"/>
												<xs:element name="OuterPacks" type="DimensionValue" minOccurs="0"/>
												<xs:element name="ItemPrice" type="MonetaryAmount" minOccurs="0"/>
												<xs:element name="LinePrice" type="MonetaryAmount" minOccurs="0"/>
												<xs:element name="LineStatus" type="xs:string" minOccurs="0"/>
												<xs:element name="DropDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="PartAttrib1" type="xs:string" minOccurs="0"/>
												<xs:element name="PartAttrib2" type="xs:string" minOccurs="0"/>
												<xs:element name="PartAttrib3" type="xs:string" minOccurs="0"/>
												<xs:element name="Custom" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Text1" type="xs:string" minOccurs="0"/>
															<xs:element name="Text2" type="xs:string" minOccurs="0"/>
															<xs:element name="Text3" type="xs:string" minOccurs="0"/>
															<xs:element name="Text4" type="xs:string" minOccurs="0"/>
															<xs:element name="Text5" type="xs:string" minOccurs="0"/>
															<xs:element name="Text6" type="xs:string" minOccurs="0"/>
															<xs:element name="Date1" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="Date2" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="Date3" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="Date4" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="Date5" type="xs:dateTime" minOccurs="0"/>
															<xs:element name="Decimal1" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Decimal2" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Decimal3" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Decimal4" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Decimal5" type="xs:decimal" minOccurs="0"/>
															<xs:element name="Flag1" type="xs:boolean" minOccurs="0"/>
															<xs:element name="Flag2" type="xs:boolean" minOccurs="0"/>
															<xs:element name="Flag3" type="xs:boolean" minOccurs="0"/>
															<xs:element name="Flag4" type="xs:boolean" minOccurs="0"/>
															<xs:element name="Flag5" type="xs:boolean" minOccurs="0"/>
															<xs:element name="CustomText1" type="xs:string" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ContainerNumber" type="xs:string" minOccurs="0"/>
												<xs:element name="ContainerPackingOrder" type="xs:int" minOccurs="0"/>
												<xs:element name="CountryOfOrigin" type="xs:string" minOccurs="0"/>
												<xs:element name="CommercialInvoiceNo" type="xs:string" minOccurs="0"/>
												<xs:element name="DangerousGoods" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="UNDG" type="HazardousGoods" maxOccurs="unbounded"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DGFlashPoint" type="xs:decimal" minOccurs="0"/>
												<xs:element name="DGSubstanceCode" type="xs:string" minOccurs="0"/>
												<xs:element name="Weight" type="xs:decimal" minOccurs="0"/>
												<xs:element name="Volume" type="xs:decimal" minOccurs="0"/>
												<xs:element name="WeightType" type="xs:string" minOccurs="0"/>
												<xs:element name="VolumeType" type="xs:string" minOccurs="0"/>
												<xs:element name="SpecialInstructions" type="xs:NMTOKEN" minOccurs="0"/>
												<xs:element name="AdditionalInformation" type="xs:NMTOKEN" minOccurs="0"/>
												<xs:element name="Incoterm" type="INCOTERM" minOccurs="0"/>
												<xs:element name="AdditionalTerms" type="xs:string" minOccurs="0"/>
												<xs:element name="ConfirmNumber" type="xs:string" minOccurs="0"/>
												<xs:element name="ConfirmDate" type="xs:dateTime" minOccurs="0"/>
												<xs:element name="ExWorksRequiredBy" type="xs:dateTime" minOccurs="0"/>
												<!-- Legacy - contains the 'first' DG -->
												<!-- End Legacy -->
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="OrderLineDeliveries" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="OrderLineDelivery" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="DeliveryDetails">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DelPort" type="UNLOCO" minOccurs="0"/>
																		<xs:element name="Address" type="AddressReference" minOccurs="0"/>
																		<xs:element name="AddressFreeText" type="xs:string" minOccurs="0"/>
																		<xs:element name="QtyAllocated" type="xs:decimal"/>
																		<xs:element name="Custom" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Text1" type="xs:string" minOccurs="0"/>
																					<xs:element name="Text2" type="xs:string" minOccurs="0"/>
																					<xs:element name="Text3" type="xs:string" minOccurs="0"/>
																					<xs:element name="Text4" type="xs:string" minOccurs="0"/>
																					<xs:element name="Text5" type="xs:string" minOccurs="0"/>
																					<xs:element name="Decimal1" type="xs:decimal" minOccurs="0"/>
																					<xs:element name="Decimal2" type="xs:decimal" minOccurs="0"/>
																					<xs:element name="Decimal3" type="xs:decimal" minOccurs="0"/>
																					<xs:element name="Decimal4" type="xs:decimal" minOccurs="0"/>
																					<xs:element name="Decimal5" type="xs:decimal" minOccurs="0"/>
																					<xs:element name="Flag1" type="xs:boolean" minOccurs="0"/>
																					<xs:element name="Flag2" type="xs:boolean" minOccurs="0"/>
																					<xs:element name="Flag3" type="xs:boolean" minOccurs="0"/>
																					<xs:element name="Flag4" type="xs:boolean" minOccurs="0"/>
																					<xs:element name="Flag5" type="xs:boolean" minOccurs="0"/>
																					<xs:element name="Date1" type="xs:dateTime" minOccurs="0"/>
																					<xs:element name="Date2" type="xs:dateTime" minOccurs="0"/>
																					<xs:element name="Date3" type="xs:dateTime" minOccurs="0"/>
																					<xs:element name="Date4" type="xs:dateTime" minOccurs="0"/>
																					<xs:element name="Date5" type="xs:dateTime" minOccurs="0"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="DeliveryContainers" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="DeliveryContainer" maxOccurs="unbounded">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="Container" type="Container"/>
																					<xs:element name="MasterBillNo" type="xs:NMTOKEN" minOccurs="0"/>
																					<xs:element name="LoadPort" type="UNLOCO" minOccurs="0"/>
																					<xs:element name="Vessel" type="xs:NMTOKEN" minOccurs="0"/>
																					<xs:element name="Voyage" type="xs:NMTOKEN" minOccurs="0"/>
																					<xs:element name="ETA" type="xs:dateTime" minOccurs="0"/>
																					<xs:element name="ETD" type="xs:dateTime" minOccurs="0"/>
																					<xs:element name="PackCount" type="xs:int" minOccurs="0"/>
																					<xs:element name="PackType" type="xs:NMTOKEN" minOccurs="0"/>
																					<xs:element name="Volume" type="DimensionValue" minOccurs="0"/>
																					<xs:element name="Weight" type="DimensionValue" minOccurs="0"/>
																					<xs:element name="QtyInvoiced" type="xs:decimal"/>
																					<xs:element name="QtyDelivered" type="xs:decimal"/>
																					<xs:element name="CustomText" type="xs:string" minOccurs="0" maxOccurs="5"/>
																					<xs:element name="CustomDate" type="xs:dateTime" minOccurs="0" maxOccurs="5"/>
																					<xs:element name="CustomFlag" type="xs:boolean" minOccurs="0" maxOccurs="5"/>
																					<xs:element name="CustomDecimal" type="xs:decimal" minOccurs="0" maxOccurs="5"/>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Notes" type="Notes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Orders">
		<xs:sequence>
			<xs:element name="Order" type="Order" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlannedContainer">
		<xs:sequence>
			<xs:element name="Number" type="xs:string" minOccurs="0"/>
			<xs:element name="Quantity" type="xs:short" minOccurs="0"/>
			<xs:element name="Type" type="ContainerType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrderTransportMode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SEA"/>
			<xs:enumeration value="AIR"/>
			<xs:enumeration value="RAI"/>
			<xs:enumeration value="ROA"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="MAI"/>
			<xs:enumeration value="UNK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrderContainerMode">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="AIR"/>
			<xs:enumeration value="LCL"/>
			<xs:enumeration value="FCL"/>
			<xs:enumeration value="BLK"/>
			<xs:enumeration value="BBK"/>
			<xs:enumeration value="LSE"/>
			<xs:enumeration value="ULD"/>
			<xs:enumeration value="CON"/>
			<xs:enumeration value="FTL"/>
			<xs:enumeration value="LQD"/>
			<xs:enumeration value="LTL"/>
			<xs:enumeration value="MAI"/>
			<xs:enumeration value="OBC"/>
			<xs:enumeration value="UNA"/>
			<xs:enumeration value="OTH"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
